@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: "Arial", "Hiragino Sans" ,  "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    color: #2a2a2a;
    font-size: 0.875rem;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
img{
    max-width: 100%;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn{
    color: #24292e;
    border: solid 1px #2a2a2a;
    display: inline-block;
    padding: 14px 36px;
    font-size: 0.750rem;
    margin-top: 30px;
}

#header{
     object-fit: cover;
     object-position: center top;
     width: 100%;
     max-width: 1600px;
     height: 600px;
     margin-bottom: 80px;
     position: relative
}
.mag88{
    position: absolute;
    top: 30px;
    right: 30px;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#magazine{
    text-align: center;
    margin-bottom: 80px;
}
#magazine p{
    font-size: 0.9rem;
    margin-bottom: 40px;
}
#magazine .fhoto{
    display: flex;
    justify-content: space-between;
}
#magazine .fhoto .item{
    position: relative;
    width: 49%;
}
#magazine .fhoto .item .text{
    max-width: 290px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    padding: 15px 0;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    font-size: 1.25rem;
}
#magazine .fhoto .item .titlemin{
    font-size: 1.5rem;
    margin-bottom: 2px;
}


#fashion{
    height: 520px;
    background-image: url(storesite/fashion.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    padding: 60px;
    margin-bottom: 80px;
}
.catalog-antique{
    background-color: #f5f5f5;
    padding: 60px 0;
}
.catalog-antique .flex-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.catalog-antique .flex-item .item{
    width: 49%;
    text-align: center;
}
.catalog-antique .flex-item .item p{
    margin-bottom: 30px;
}
#footer{
    background-color: #333;
    font-size: 0.750rem;
}
#footer .end{
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer .mag{
    line-height: 2;
    width: calc(100%/3);
}
#footer .mag:first-child{
    padding: 60px 0;
}
#footer .mag li{
    list-style-type: none;
}
#footer .mag li::before{
    content: "-";
    margin-right: 5px;
}
#footer .mag .titlemin{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    padding: 30px 0;
    font-size: 0.75rem;
    background-color: #fff;
}


@media screen and (max-width: 896px) {
    #magazine .fhoto{
        flex-direction: column;
    }
    #magazine .fhoto .item{
        width: 100%;
    }
    #magazine .fhoto .item:first-child{
        margin-bottom: 30px;
    }
    #fashion{
        padding-top: 35px;
        margin-bottom: 50px;
    }
    .catalog-antique{
        padding-top: 30px;
    }
    .catalog-antique .flex-item{
        flex-direction: column;
    }
    .catalog-antique .flex-item .item{
        width: 100%;
    }
    .catalog-antique .flex-item .item:first-child{
        margin-bottom: 60px;
    }
    #footer .end{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #footer .end .mag{
        width: 100%;
        margin-bottom: 30px;
    }
    #footer .end .mag:first-child{
        text-align: center;
        padding: 0;
    }
}